body{
    padding: 0px;
    margin: 0px;
    color: whitesmoke;
}
.hooklist{
    text-align: center;
    color: aliceblue;
    display: inline-block;
}
  /* .book_section :hover{
    
    transform: scale(1.1);
    transition: .5s;
} */
 /* .n {
    display: inline-block;
    
 }  */

.book{
    margin: 20px 30px;
    color: black;
    display: inline;
background-color: aliceblue;
/* margin-left: 100px; */
text-align: start;
border-radius: 20px;
 display:flex; 
justify-content: center;
align-items: center;
height: 220px;
width: 1400px;
padding: 30px 30px;
box-shadow: 0px 0px 18px rgb(104, 109, 209);
}
.book img{
    display: flex;
    justify-content: left;
padding: 10px 20px;
margin-right: 450px;
}


.book h1,h4,h6{
    /* margin-bottom: 550px; */
    /* margin-right:1000px ; */

} 
/* .b1{
    margin-right: 800px;
} */
  .b2 button{
    text-align: center;
    margin-right: 500px;
    display: inline;
    justify-content: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
  }
  